@model DayViewModel
@{
    ViewData["Title"] = Model.Month + " " + Model.Year;
    ViewData["SmallVersion"] = true;
}
<header class="smallHeader">
    <h2>@Model.GetDateString</h2>
</header>
<body>

    <table class="events">
        <th class="header">TIME</th>
        <th class="header">DESCRIPTION</th>
        <th class="header"></th>
        <th class="header"></th>
        @foreach (EventViewModel singleEvent in Model.DayEvents) {
            <tr>
                <td>@singleEvent.DateAndTime.ToShortTimeString()</td>
                <td>@singleEvent.Description</td>
                <form method="post">
                    <input type="hidden" name="id" value="@singleEvent.Id">
                    <td><a class="button editButton" href="edit/event/@singleEvent.Id">EDIT</a></td>
                    <td><button class="deleteButton" name="actionOnButton" value="delete">DELETE</button></td>
                </form>
            </tr>
        }
    </table>

    <div class="bottomButtons">
        <a class="bottomButton button" href="@Model.Year-@Model.Month-@Model.Day/addNew">ADD NEW</a>
        <a class="bottomButton button" href="@Model.Year-@Model.Month">CANCEL</a>
    </div>
    
</body>