@model CalendarViewModel
@{
    ViewData["Title"] = Model.MonthName + " " + Model.Year;
}
<header>
    <nav class="navigateMonth">
        <ul>
            <li class="prev"><a href="@Model.GetPreviousMonth()">&#10094;</a></li>
            <li class="currentMonth">@Model.MonthName<br>@Model.Year</li>
            <li class="next"><a href="@Model.GetNextMonth()">&#10095;</a></li>
        </ul>
    </nav>
</header>
    
<body>
    <table class="calendar">
    <tr class="weekdays">
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>Sa</th>
        <th>S</th>
    </tr>
    <class="days">
            
        @for(int i=0; i<@Model.DaysOfTheMonthArray.Length; i+=7) {
            <tr>
                @for(int day=i; day<=(i+6); day++) { 
                    
                    @if(day >= @Model.DaysOfTheMonthArray.Length){
                        break;
                    }
                    @if(@Model.DaysOfTheMonthArray[@day] == 0) {
                        <td></td>
                        continue;
                    }
                    <td class="day @(Model.Events[(@day-@Model.StartingDay)].Count > 0 ? "occupied" : "")">
                        <a href="@Model.Year-@Model.Month-@Model.DaysOfTheMonthArray[@day]">@Model.DaysOfTheMonthArray[@day]</a>
                    </td>
                }
            </tr> 
             
        }

    </class>   
</table>
</body>
   